# DO NOT USE THIS FILE AS IT IS.

# Insert some lines below to appropriate location of
# $(srctree)/security/Kconfig.

# Lines just before and after the line to be inserted
# are printed in comment format.


# source security/yama/Kconfig
source security/whiteegret/Kconfig
