# DO NOT USE THIS FILE AS IT IS.

# Insert some lines below to appropriate location of
# $(srctree)/drivers/Kconfig.

# Lines just before and after the line to be inserted
# are printed in comment format.


# source "drivers/tee/Kconfig"

source "drivers/security/whiteegret/Kconfig"

# endmenu
