config SECURITY_WHITEEGRET
        bool "WhiteEgret support"
        depends on SECURITY
        default n
        help
	  This enables the WhiteEgret security module.
	  WhiteEgret provides a whitelisting execution control capability,
	  which helps stop the execution of unauthorized software
	  such as malware.
	  You will also need a user application and an execution whitelist.
          If you are unsure how to answer this question, answer N.
